<main>
    <h1 class="text-center text-uppercase">Hello World</h1>
    <h2 class="text-end text-lowercase">Second</h2>
    <h3 class="text-capitalize">Triple two one</h3>

    <hr>
    <div class="display-1 text-muted">Hello World</div>
    <div class="display-4">Second</div>
    <div class="display-6">Triple</div>

    <hr>
    <div class="text-muted text-end">
        Додатковий <span class="display-6"> текст</span>
    </div>
    <hr>
    <button class="btn btn-primary">Test button</button>
    <a href="#" class="btn btn-sucsess"> Push</a>
    <hr>
    <p class="text-warning">My text</p>

    <a href="#" class="btn btn-link">
        Honda
    </a>

    <div class="card">
        <div class="card-body">
            <p class="btn btn-outline-success btn-lg">Write</p>
            <p class="btn btn-outline-warning">Upload</p>
            <p class="btn btn-outline-danger btn-sm">Delite</p>
        </div>
    </div>


</main>