<main>
    {{!--<section>
        <h1 class="text-center text-uppercase">Hello World</h1>
        <h2 class="text-end text-lowercase">Second</h2>
        <h3 class="text-capitalize">Triple two one</h3>
        <hr>
        <div class="display-1 text-muted">Hello World</div>
        <div class="display-4">Second</div>
        <div class="display-6">Triple</div>
        <hr>
        <div class="text-muted text-end">
            Додатковий <span class="display-6"> текст</span>
        </div>
        <hr>
        <button class="btn btn-primary">Test button</button>
        <a href="#" class="btn btn-sucsess"> Push</a>
        <hr>
        <p class="text-warning">My text</p>
        <a href="#" class="btn btn-link">
            Honda
        </a>
        <div class="card">
            <div class="card-body">
                <p class="btn btn-outline-success btn-lg">Write</p>
                <p class="btn btn-outline-warning">Upload</p>
                <p class="btn btn-outline-danger btn-sm">Delite</p>
            </div>
        </div>
    </section>--}}




    <div class="row gy-5">
        <section class="col-12">
            <div class="card text-bg-secondary">
                <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product photo">
                <div class="card-body">
                    <h5 class="card-title text-bg-primary"> Menu</h5>
                    <p class="text-bg-success">Мобильный телефон Samsung <br> Galaxy M33</p>
                    <a href="/summary" class="btn btn-primary">Open</a>
                </div>
            </div>
        </section>

        <section class="col-3">
            <div class="card ">
                <div class="card-header">
                    <div class="display-6"> Menu</div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="#" class="btn btn-primary">Home page</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn btn-primary">Summary page</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn btn-primary">Skills page</a>
                    </li>

                </ul>
                <div class="card-footer">
                    <button class="btn btn-dark btn-sm">Update page</button>
                </div>
            </div>

        </section>


        <section class="col-9">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            #Id
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Age
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <td>John</td>
                        <td>44</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>Kate</td>
                        <td>33</td>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td>Den</td>
                        <td>51</td>
                    </tr>
                    <tr>
                        <th>4</th>
                        <td>Oleg</td>
                        <td>45</td>
                    </tr>
                    <tr>
                        <th>5</th>
                        <td>Dima</td>
                        <td>55</td>
                    </tr>
                </tbody>
            </table>
        </section>


        <section class="col-12">
            <div class="row g-2">
                <div class="col-3">
                    <div class="card text-bg-success">
                        <div class="card-header text-center">Title</div>
                        <div class="card-body text-center">
                            <h6 class="card-title">This is title</h6>
                            <p>This is content aout product</p>
                            <button class="btn btn-light">Click</button>
                            <div class="card-footer text-center">Footer</div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card text-bg-success">
                        <div class="card-header text-center">Title</div>
                        <div class="card-body text-center">
                            <h6 class="card-title">This is title</h6>
                            <p>This is content aout product</p>
                            <button class="btn btn-light">Click</button>
                            <div class="card-footer text-center">Footer</div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card text-bg-success">
                        <div class="card-header text-center">Title</div>
                        <div class="card-body text-center">
                            <h6 class="card-title">This is title</h6>
                            <p>This is content aout product</p>
                            <button class="btn btn-light">Click</button>
                            <div class="card-footer text-center">Footer</div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card text-bg-success">
                        <div class="card-header text-center">Title</div>
                        <div class="card-body text-center">
                            <h6 class="card-title">This is title</h6>
                            <p>This is content aout product</p>
                            <button class="btn btn-light">Click</button>
                            <div class="card-footer text-center">Footer</div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>



    {{!--<div class="card text-bg-warning">
        <div class="card-header">
            <div class="display-6"> Menu</div>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="#" class="btn btn-primary">Home page</a>
            </li>
            <li class="list-group-item">
                <a href="#" class="btn btn-primary">Summary page</a>
            </li>
            <li class="list-group-item">
                <a href="#" class="btn btn-primary">Skills page</a>
            </li>

        </ul>
        <div class="card-footer">
            <button class="btn btn-dark btn-sm">Update page</button>
        </div>
    </div>

    <br>
    <br>
    <br>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    #Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Age
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>John</td>
                <td>44</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Kate</td>
                <td>33</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Den</td>
                <td>51</td>
            </tr>
            <tr>
                <th>4</th>
                <td>Oleg</td>
                <td>45</td>
            </tr>
            <tr>
                <th>5</th>
                <td>Dima</td>
                <td>55</td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <br>

    {{!--<div class="card text-bg-success">
        <div class="card-header text-center">Title</div>
        <div class="card-body text-center">
            <h6 class="card-title">This is title</h6>
            <p>This is content aout product</p>
            <button class="btn btn-light">Click</button>
            <div class="card-footer text-center">Footer</div>
        </div>
    </div>--}}

    <br>
    <br>
    <br>

    <div class="row gy-5 gx-2">
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Title</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>This is content aout product</p>
                    <button class="btn btn-light">Click</button>
                    <div class="card-footer text-center">Footer</div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Title</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>This is content aout product</p>
                    <button class="btn btn-light">Click</button>
                    <div class="card-footer text-center">Footer</div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Title</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>This is content aout product</p>
                    <button class="btn btn-light">Click</button>
                    <div class="card-footer text-center">Footer</div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Title</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>This is content aout product</p>
                    <button class="btn btn-light">Click</button>
                    <div class="card-footer text-center">Footer</div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Title</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>This is content aout product</p>
                    <button class="btn btn-light">Click</button>
                    <div class="card-footer text-center">Footer</div>
                </div>
            </div>
        </div>
    </div>

    </section>--}}


</main>